* {
  box-sizing: border-box;
}

html {
  background: #23252C;
}

body {
  max-width: 400px;
  margin: 20px auto;
  color: #dcdcdc;
  background: #1A1B21;
}

.info {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.btn {
  margin: 1em 5px;
  padding: .5em;
  border: 1px solid black;
  border-radius: 6px;
  width: 150px;
}

.link--btn {
  background: #5093e2;
  color: #fff;
}

.link--btn:hover,
.link--btn:focus {
  background: #fff;
  color: #1A1B21;
}

.email--btn:hover,
.email--btn:focus {
  background: #5093e2;
  color: #fff;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.info--name {
  margin-bottom: .5em;
  color: #fff;
}

.email--text {
  font-size: .75em;
  margin-top: 0;
}

.info--text {
  margin-top: 0; 
  color: #f3bf99;
}

footer {
  background: #161619;
}

.about {
  padding: 1em;
}

.interests {
  padding: 1em;
}

h2 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 400px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 1em;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #5093e2;
}
